/**
 *  encm © 2018
 */

/* Light theme */

:root {
    --primary-color: #08f;
    --background-color-main: #fff;
    --background-color-secondary: #f9f9f9;
    --border-color: #e9e9e9;
    --text-color-primary: #333;
    --text-color-primary-hover: #111;
    --text-color-secondary: #555;
    --text-bcolor-secondary-hover: #ccc;
    --dialog-background-color: #555;
    --input-bcolor: #fff;
}

/* Dark theme */

/* :root {
    --backgound-color-main: #1f1f1f;
    --background-color-secondary: #333;
    --border-color: #222;
    --text-color-primary: #ddd;
    --text-color-primary-hover: #fff; 
    --text-color-secondary: #ccc;
    --text-bcolor-secondary-hover: #111;
    --dialog-background-color: #111;
    --input-bcolor: #565656;
} */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--border-color);
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

html, body {
    padding: 0;
    margin: 0;
    /* background-color: var(--background-color-secondary); */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color-main);
}

main {
    max-width: 910px;
    display: block;
    margin: auto;
    margin-bottom: 80px;
    margin-top: -70px;
}

div.chat {
    max-width: 600px;
    width: 90%;
    margin: 30px auto;
    /* box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05); */
    float: left;
}

div.friends {
    margin: 30px auto;
    max-width: 300px;
    width: 90%;
    float: left;
}

section {
    border: 1px solid var(--border-color);
    border-radius: 0;
    background-color: var(--background-color-secondary);
}

div.friends>section {
    border-left: none;
}

h1 {
    margin: 0;
    padding: 1em;
    font-size: 20pt;
    border-bottom: 1px solid var(--border-color);
    color: var(--primary-color);
    background-color: var(--background-color-secondary);
}

#chat-output, #friends-list {
    /* min-height: 300px; */
    height: 500px;
    overflow-y: auto;
    background: var(--background-color-secondary);
    padding: 0 1em;
}

#add-friend {
    padding: 1em;
    border-top: 1px solid var(--border-color);
}

.message, .friend {
    padding: 1em 0;
    transition: 0.2s color ease-in-out;
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--border-color);
    overflow-x: auto;
}

.message>a {
    color: var(--text-color-primary);
}

.message>a:hover {
    color: var(--text-color-primary-hover);
}

.chat-info {
    padding: 1em 0;
    color: var(--text-color-primary);
    font-style: italic;
}

.friend {
    cursor: pointer;
}

.friend.active {
    font-weight: bold;
    cursor: default;
}

.friend.active:hover {
    color: var(--text-color-primary);
}

.friend.online {
    color: #0f0 !important;
}

.friend:hover {
    color: var(--text-color-primary-hover);
}

.friend.unread::after {
    content: '●';
    padding-left: 5px;
    color: orange;
    /* animation: blinker 1s step-start infinite; */
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.message>span {
    font-weight: bold;
    color: var(--primary-color);
}

.message>span::after {
    content: ': ';
}

.message:last-of-type, .friend:last-of-type {
    border-bottom: none;
}

input {
    display: block;
    padding: 1em;
    border: none;
    width: calc(100% - 2em);
    font-size: 12pt;
    outline: none;
    background-color: var(--input-bcolor);
    color: var(--text-color-primary);
}

input::placeholder {
    color: var(--text-color-secondary);
    font-style: italic;
}

button {
    width: 100%;
    padding: 1em;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    outline: none;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

nav {
    position: fixed;
    bottom: 0;
    background-color: var(--border-color);
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
}

nav>i {
    padding: 0.7em;
    font-size: 1.2em;
    margin: 0 1em;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
    /* width: 19px; */
    width: 1em;
    color: var(--text-color-secondary);
    cursor: pointer;
}

nav>i:hover {
    background-color: var(--text-bcolor-secondary-hover);
}

dialog {
    background-color: var(--dialog-background-color);
    border: none;
    /* color: var(--text-color-primary); */
    color: #ddd;
    position: fixed;
    bottom: 30px;
    border-radius: 5px;
    padding: 1em;
    width: 200px;
    text-align: center;
    line-height: 1.4em;
}

#modal, #import, #delete-friend {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color-secondary);
    width: 400px;
    max-width: 90%;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

#modal>p, #import>p, #delete-friend>p {
    padding: 1em;
    max-width: calc(400px - 2em);
}

#modal>p>code {
    word-break: break-all;
    overflow-wrap: break-word;
    color: var(--text-color-primary);
}

@media all and (max-width: 1000px) {
    main {
        margin-top: 0;
    }
    div.chat, div.friends {
        float: none;
        max-width: 600px;
    }
    div.friends>section {
        border-left: 1px solid var(--border-color);
    }
    #friends-list {
        height: auto !important;
    }
}

@media all and (max-height: 900px) {
    #chat-output, #friends-list {
        height: 500px;
    }
}

@media all and (max-height: 800px) {
    #chat-output, #friends-list {
        height: 400px;
    }
}

@media all and (max-height: 700px) {
    #chat-output, #friends-list {
        height: 360px;
    }
}

@media all and (max-height: 600px) {
    #chat-output, #friends-list {
        height: 290px;
    }
}
